.aboutContainer {
  width: 100%;
  height: 95vh;
}

.aboutJumbo {
  width: 100%;
  height: 95vh;
}

.aboutTabPane {
    position: relative;
    display: none;
    opacity: 0;
  }
  .aboutTabPane.active {
    display: flex;
    animation: fade-and-slide-in 2000ms ease-in;
    opacity: 1;
  }

  @keyframes fade-and-slide-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }