@media (min-width: 376px) and (max-width: 450px) {
    .info-panel-jumbotron {
        height: 80vh !important;
    }
}

@media (min-width: 451px) and (max-width: 500px) {
    .info-panel-jumbotron {
        height: 80vh !important;
    }
}

@media (min-width: 501px) and (max-width: 576px) {
    .info-panel-jumbotron {
        height: 70vh !important;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .info-panel-jumbotron {
        height: 60vh !important;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .info-panel-jumbotron {
        height: 50vh !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .info-panel-jumbotron {
        height: 50vh !important;
    }
}

@media (min-width: 1200px) {
    .info-panel-jumbotron {
        height: 50vh !important;
    }
}

.info-panel-jumbotron {
    margin-bottom: 0px !important;
}