.collapse-info-panel-container {
    margin-bottom: -52px;
}

@media (min-width: 376px) and (max-width: 450px) {
    .collapse-info-panel-jumbotron {
        height: 50vh !important;
    }
}

@media (min-width: 451px) and (max-width: 500px) {
    .collapse-info-panel-jumbotron {
        height: 50vh !important;
    }
}

@media (min-width: 501px) and (max-width: 576px) {
    .collapse-info-panel-jumbotron {
        height: 50vh !important;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .collapse-info-panel-jumbotron {
        height: 50vh !important;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .collapse-info-panel-jumbotron {
        height: 40vh !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .collapse-info-panel-jumbotron {
        height: 30vh !important;
    }
}

@media (min-width: 1200px) {
    .collapse-info-panel-jumbotron {
        height: 30vh !important;
    }
}